# Python II

[*Matt Jansen, Davis Library Research Hub*](https://guides.lib.unc.edu/mattjansen)

February 26, 2019

**Abstract:**
This workshop will:
* Briefly review the basics covered in Python 1
* Learn how to work with files and directories
* Define our own functions and handle errors
* Survey some of the more important data-related packages, especially pandas

## Contents

* [Review](#Review)
    + [Pseudocode](#Pseudocode)
    + [Comments](#Comments)
* [Try/Except](#Try-/-Except---Making-your-code-robust)
* [Functions](#Defining-your-own-Functions)
* [Reading and Writing Files from Python](#Reading-and-Writing-Files-from-Python)
    + [Working Directories](#Working-Directories)
* [Scripts](#Running-Scripts)
* [Useful Packages](#Useful-Packages)
    + [Pandas](#Pandas)

### NOTE:
This workshop assumes that you already have the <a href="https://www.anaconda.com/download/">Anaconda distribution</a> of Python 3.7 installed.  Detailed installation instructions are available in the [Python I materials](https://unc-libraries-data.github.io/Python/Python1/Python-1.html). 

# Review

Last week, we introduced:

* Numeric types (`int`,`float`): 
```
my_int=4
```
* Strings (`str`): 
```
my_string="cat"
```
* Lists (`list`): 
```
my_list=[my_int,my_string]
```
* For loops:
```
for k in range(10):
    print(k)
```
* Conditionals
```
if my_string=="cat":
    print("This is a cat!")
else:
    print("This is not a cat!")
```


## Pseudocode

As you get started coding in Python, there will be many many tasks and steps you aren't familiar with!  As you learn new functions and approaches, you'll become better and better at searching for help online and reviewing documentation.  Learning to write and use pseudocode where appropriate can help organize your plan for any individual script.

Pseudocode is essentially a first draft of your code, written in English for **human consumption**, though with the tools of your programming language in mind.  For example, we might write pseudocode for extracting text from pdf files as:

    1. Set Working Directory (tell the computer where we've saved our files)
    2. Loop through each pdf in the directory:
        * open the pdf file
        * extract text
        * check length of text extracted
            * if length is zero: add to problems list
            * otherwise, add to output file
    3. Write output file(s)

This process can divide a complicated task into more digestible parts.  You may not know how to open a pdf file or extract text from it, but you'll often have better luck finding existing help online on smaller tasks like these than with your overall goal or project.

<center>
<h3>Exercises</h3>
</center>

* Write pseudocode to summarize the following code:

In [1]:
random_words=["statement", "toy", "cars", "shoes", "ear", "busy", 
              "magnificent", "brainy", "healthy", "narrow", "join", 
              "decay", "dashing", "river", "gather", "stop", "satisfying", 
              "holistic", "reply", "steady", "event", "house", "amused", 
              "soak", "increase"]

vowels=["a","e","i","o","u","y"]

output=[]

for word in random_words:
    count=0
    for char in word:
        if char in vowels:
            count=count+1
    if count>=3:
        output.append([word,count])

* Write pseudocode to check an arbitrary list of numbers, `my_numbers`, to find all even numbers and convert them to odd numbers by adding one.  Put the resulting numbers into a new list `my_numbers2`.  (Recall `for` loops ,`if` conditions, and the modulo function `%` from Python 1.)

## Comments

Recall that Python ignores anything following a `#` as a comment.  Comments are a vital part of your code, as they leave notes about how or why you're doing something.  As you gain experience, you'll use comments in different ways.

Comments can also provide a link between pseudocode and real code.  Once you've written your pseudocode, use comments to put the major steps into your code file itself.  Then fill in the gaps with actual code as you figure it out.

Here's a possible answer to the previous exercise.

In [2]:
#1. Get or define the list my_numbers
my_numbers=list(range(100))

#2. Create an empty list for the new all-odd numbers, called my_numbers2.

#3. Use a loop to iterate through the list of numbers

    #3a. For a given number check to see if it is even.
    
    #3b. If the number is even, add 1.
    
    #3c. Append the resulting number to the my_numbers2 list.

<center>
<h3>Exercise</h3>
</center>

* Use your own pseudocode or the example above as an outline to fill in with Python code.  Test your code with the `my_numbers` object defined above.

# Try / Except - Making your code robust

Errors and warnings are a regular occurrence in coding, and an important part of the learning process.  In some cases, they can also be useful in designing an algorithm.  For example, suppose we have a stream of user entered data that is supposed to contain the user's age in years.  You might expect to get a few errors or nonsense entries.

In [3]:
user_ages=["34","27","54","19","giraffe","15","83","61","43","91","sixteen"]

It would be useful to convert these values to a numeric type to get the average age of our users, but we want to build something that can set non-numeric values aside.  We can attempt to convert to numeric and give Python instructions for errors with a `try`-`except` statement:

In [4]:
ages=[]
problems=[]

for age in user_ages:
    try:
        a=int(age)
        ages.append(a)
    except:
        problems.append(age)
        
print(ages)
print(problems)

[34, 27, 54, 19, 15, 83, 61, 43, 91]
['giraffe', 'sixteen']

# Defining your own Functions

While Python (and its available packages) provide a wide variety of functions, sometimes it's useful to create your own.  Python's syntax for defining a function is as follows:

```
def <function_name> ( <arguments> ):
    <code depending on arguments>
    return <value>
        
```

The `mean` function below returns the mean of a list of numbers.  (Base Python does not include a function for the mean.)

In [5]:
def mean(number_list):
    s=sum(number_list)
    n=len(number_list)
    m=s/n
    return m

numbers=list(range(1,51))
print(mean(numbers))

25.5

<center>
<h3>Exercises</h3>
</center>

Choose one of the following (or both if you're feeling ambitious!):
* Define a function, `median` to find the median of a list.  The median is the middle number of an odd-numbered list or the average of the middle two numbers in an even numbered list.  (Hint: Use `sorted(<your_list>)` to create a list sorted from low to high values.

* Define your own function, `variance` to calculate the (population) variance, of a list of numbers:

$$ \sigma^2 = \frac{1}{N} \sum_{i=1}^{N} (x_i-\mu)^2 $$

Where $N$ is the length of the list, $x_1, x_2, ... x_N$ are the values in the list, and $\mu$ is the sample average (you can re-use the `mean` function above).  


* Test your function(s) with the lists below:

In [6]:
data1 = list(range(1,100))

#Normally Distributed Data:
from numpy.random import normal
data2 = normal(loc=0,scale=2,size=100) #scale=2 defines the standard deviation as 2

# Reading and Writing Files from Python

## Packages

### Installation

Packages provide additional tools and functions not present in base Python.  Python includes a number of packages to start with, and others can be installed using `pip install <package name>` and/or `conda install <package name>` commands **in your terminal**. 

Open your terminal by:
* (PC) Start > Anaconda3(64-bit) > Anaconda Prompt
* (Mac) Finder > Applications > Anaconda Navigator > Environments Tab > (play button listed next to "root") > Open Terminal

### Loading

Once you've installed a package, you can load it into your current Python session with the `import` function.  Otherwise these functions will not be available.

In [7]:
import os #functions for working with your operating system

## Working Directories

To open a file with Python, you'll need to tell your computer where it's located on your computer.  You can specify the entire absolute filepath (starting with C:\ on PC or / on Mac), or you can set a working directory and work with relative file paths. 

You can determine where a file is located on your computer by:

* (PC) Navigate to your desired folder in Windows Explorer and click on it.  Click in the address bar at the top of the window to copy the path.
* (Mac) Right-click a file in your desired directory > Click Get Info > Highlight and copy the path listed next to "Where:"

If a file is located in your working directory, its relative path is just the name of the file!

In [8]:
myfile="C:/Users/mtjansen/Desktop/Python/Python2/Python_Sales/day1.txt" #absolute path
os.path.isfile(myfile) #check if Python can find my file

True

#### Windows Paths
Windows filepaths use `\`, which Python interprets as *escape characters*.  This can be fixed in several ways:
1. Replace `\` with `/`.
2. Replace `\` with `\\`.
3. Preface your path with `r`: 
```
        r"C:\Users\mtjansen\Desktop"
```

In [9]:
os.chdir("C:/Users/mtjansen/Desktop/Python/Python2/Python_Sales") #set working directory
myfile="day1.txt" #relative path
os.path.isfile(myfile)

True

We can get a list of all files in the working directory with `os.listdir(".")`.

In [10]:
print(os.listdir("."))
print(os.listdir("C:/Users/mtjansen/Desktop/Python/Python2/Python_Sales")) #alternatively we can specify a folder

['Day1.txt', 'Day1_TOTAL.txt', 'Day2.txt', 'Day3.txt', 'Python_Sales.zip']
['Day1.txt', 'Day1_TOTAL.txt', 'Day2.txt', 'Day3.txt', 'Python_Sales.zip']

<center>
<h3>Exercise</h3>
</center>

* Download the zipped data availalble [here](https://github.com/UNC-Libraries-data/Python/raw/master/Python2/Python_Sales/Python_Sales.zip). Unzip them somewhere on your computer.

* Use `import os` and `os.chdir` to set your working directory to the unzipped folder "Python Sales".  Use `os.listdir` to check what files are stored there.


## Reading and Writing Files

Python requires you both open and close files explicitly.  If you forget to close a file, it can remain in use, preventing you from opening it later.

Best practices for reading and writing files use the `with` function to make sure files are automatically closed.

In [11]:
with open('Day1.txt',"r") as txtfile: #"r" indicates that we are reading the textfile and not writing to it
    raw=txtfile.read() #read() retrieves raw text information from the file opened in txtfile
    
print(raw)

19.6
60.6
67.9
76.9
44.6
61.4
39.5
42.7
48
58.9

In [12]:
rawlist=raw.splitlines() #.splitlines() uses each new line to split the string into a list
print(rawlist)

['19.6', '60.6', '67.9', '76.9', '44.6', '61.4', '39.5', '42.7', '48', '58.9']

In [13]:
total=0
for item in rawlist:
    n=float(item) #convert strings to decimal numbers (i.e. floats)
    total=total+n
print(total)

520.1

Let's write a new file with the total.

In [14]:
total=str(total) #we need to convert numerics to strings before writing
with open("Day1_TOTAL.txt","w") as txtfile: #like "r" above, "w" specifies that we're writing to the file
    txtfile.write(total)

<center>
<h3>Exercises</h3>
</center>

* Use a loop to extend the above to get the total for each of the three files, Day1.txt, Day2.txt, and Day3.txt. Create a new file that contains the overall total.  There shouldn't be any sales over 100, so if you find any exclude them!

# Running Scripts

We can save our Python code into .py files with File>Save As in Spyder.  A .py file is just a simple text file with a special extension to remind you that it contains Python code.

We can re-open these files in Spyder with File>Open, and then run or change them.

### From the terminal
We can also run Python scripts directly from the Anaconda Prompt.

Open your Anaconda Prompt / Anaconda Terminal by:
* (PC) Start > Anaconda3(64-bit) > Anaconda Prompt
* (Mac) Finder > Applications > Anaconda Navigator > Environments Tab > (play button listed next to "root") > Open Terminal

Download [file_explore.py](https://github.com/UNC-Libraries-data/Python/raw/master/Python2/file_explore.py)

First, we need to point our terminal at the folder containing our .py file.  In the command prompt type: `cd` followed by the path to the folder.

For example:

    `cd C:\Users\mtjansen\Desktop\Python\Python2`  

Then we can execute the script with:

    `python file_explore.py`

<center>
<h3>Exercises</h3>
</center>

* What happens when you execute file_explore.py?  Can you think in pseudocode about how the script might work?
* Use Spyder to open file_explore.py.  Add comments to describe what's happening in each part of the code.  Use a web search or `help()` to get more information about any functions you don't recognize.

# Useful Packages

Some of these packages may NOT be included in your Anaconda installation.  Whenever you need to install a package, you need to use the Anaconda prompt window, **NOT Python itself**.  The Anaconda Prompt window can be reached through the Windows Start Menu folder for Anaconda or right clicking and opening a terminal from the Python 3 tab in your Evnironments tab of your Anaconda Navigator on a Mac.

Installing packages known to Anaconda can be done with the `conda install <package name>` command in your Anaconda Prompt window.  Otherwise you may need to use a different manager like `pip install <package name>`.

<a href="https://conda.io/docs/user-guide/tasks/manage-pkgs.html">More information about managing packages in Python is available here.</a>

You can also <a href="https://docs.anaconda.com/anaconda/navigator/tutorials/manage-packages/">install packages from the Anaconda Navigator window</a>.


## Data Analysis

### Numpy and Scipy

<a href="http://www.numpy.org/">`numpy`</a> provides the mathematical functionality (e.g. large arrayes, linear algebra, random numbers, etc.) for many popular statistical and machine learning tasks in Python.  This is a dependency for many of the packages we discuss below.  <a href="https://docs.scipy.org/doc/scipy/reference/">`scipy`</a> adds an array of mathematical and statistical functions that work with `numpy` objects. 

### pandas 

The <a href="https://pandas.pydata.org/"> `pandas` package</a> provides high-level data manipulation functionality, similar to that found by default in R.  That means new objects like data frames and time series, as well as new functions to manage missing values, merge, and/or reshape datasets.

Notice that we load pandas with the usual `import pandas` and an extra `as pd` statement.  This allows us to call functions from `pandas` with `pd.<function>` instead of `pandas.<function>` for convenience.  `as pd` is not necessary to load the package. 

Download the csv file <a href="https://github.com/UNC-Libraries-data/Python/raw/master/Python2/CountyHealthData_2014-2015.csv"> 
CountyHealthData_2014-2015.csv</a>.  I've stored my copy in the Python2 folder inside my Python folder on my desktop.

`pd.read_csv` reads the tabular data from a Comma Separated Values (csv) file into a `DataFrame` object.

In [15]:
import pandas as pd 
os.chdir("C:/Users/mtjansen/Desktop/Python/Python2") #change this to match your path

df = pd.read_csv("CountyHealthData_2014-2015.csv")
#df = pd.read_csv("C:/Users/mtjansen/Desktop/Python/Python2/CountyHealthData_2014-2015.csv")

#### Exploring a DataFrame



A good first step in understanding our DataFrame is to examine some of its basic attributes.  In pandas, we access attributes with the following syntax:
```
<DataFrame name>.<attribute name>
```

Here we us the `.shape` attribute to determine how many rows and columns (in that order) are available.

In [16]:
df.shape

(6109, 64)

Other useful attributes include:
* `.columns` provides the column names for the DataFrame
* `.dtypes` provides the pandas datatype for each column

Much of the functionality for working with dataframes comes in the form of methods.  Methods are specialized functions that only work for a certain type of object, with the syntax:
```
<object name>.<method>()
```

We can look at the first 5 or last 5 rows in the dataset directly with the `.head()` and `.tail()` methods.

In [17]:
df.head()

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
0,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2014,NaN,0.122,...,NaN,0.374,0.250,3791.0,0.185,216.0,69192,0.127,NaN,0.287
1,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2015,NaN,0.122,...,NaN,0.314,0.176,4837.0,0.185,254.0,74088,0.133,NaN,NaN
2,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2014,6827.0,0.125,...,15.37,0.218,0.096,6588.0,0.119,135.0,71094,0.319,6.29,0.160
3,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2015,6856.0,0.125,...,17.08,0.227,0.123,6582.0,0.119,148.0,76362,0.334,5.60,NaN
4,AK,West,Pacific,Bethel Census Area,2050,2050,Insuff Data,1/1/2014,13345.0,0.211,...,NaN,0.394,0.124,5860.0,0.200,169.0,41722,0.668,12.77,0.477

The `.describe()` method allows us to quickly summarize all numeric columns.

In [18]:
df.describe()

,FIPS,GEOID,Premature death,Poor or fair health,Poor physical health days,Poor mental health days,Low birthweight,Adult smoking,Adult obesity,Food environment index,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
count,6109.000000,6109.000000,5984.000000,5424.000000,5548.000000,5136.000000,5946.000000,5385.000000,6109.000000,6109.000000,...,4113.000000,6109.000000,6109.000000,6105.000000,4755.000000,5979.000000,6109.000000,5835.000000,2484.000000,2427.000000
mean,30322.714192,30322.714192,8029.289271,0.173321,3.840465,3.574474,0.082699,0.213062,0.306801,7.258615,...,13.614865,0.214728,0.083331,9454.265848,0.153712,57.342867,45401.814700,0.434171,6.307576,0.193867
std,15177.989515,15177.989515,2413.808811,0.061034,1.138438,1.026026,0.021045,0.063040,0.043049,1.233321,...,7.398738,0.065710,0.037259,1550.568986,0.055724,45.713743,11603.609355,0.166457,4.704459,0.050926
min,1001.000000,1001.000000,2398.000000,0.045000,1.100000,1.000000,0.030000,0.031000,0.120000,0.000000,...,2.320000,0.036000,0.011000,3791.000000,0.030000,0.000000,21572.000000,0.000000,0.600000,0.000000
25%,18163.000000,18163.000000,6351.500000,0.127000,3.100000,2.900000,0.070000,0.170000,0.284000,6.671000,...,8.670000,0.165000,0.057000,8379.000000,0.112000,31.000000,37588.000000,0.311500,3.200000,0.162000
50%,29133.000000,29133.000000,7707.500000,0.166000,3.700000,3.500000,0.080000,0.208000,0.309000,7.447000,...,11.990000,0.213000,0.075000,9380.000000,0.149000,48.000000,43479.000000,0.424000,5.080000,0.191000
75%,45067.000000,45067.000000,9374.250000,0.209250,4.400000,4.100000,0.090000,0.249000,0.333000,8.100000,...,16.610000,0.258000,0.101000,10412.000000,0.189000,72.000000,50884.000000,0.535000,8.000000,0.223500
max,56045.000000,56045.000000,25394.000000,0.508000,10.000000,10.100000,0.180000,0.511000,0.481000,10.000000,...,79.780000,0.525000,0.263000,21913.000000,0.414000,1348.000000,121250.000000,1.000000,51.490000,0.574000

A full list of attributes and methods available for DataFrames is available <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html">here</a>.

#### Indexing

We'll often want to select certain rows or columns from a large dataframe with indexing.  Rows and columns can be extracted using square brackets with either of the following:
* integers to index **rows**, ranges can be supplied with colons (e.g. 0:5)
* strings or lists of strings of columns names to index **columns**

In [19]:
df[0:3]

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
0,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2014,NaN,0.122,...,NaN,0.374,0.250,3791.0,0.185,216.0,69192,0.127,NaN,0.287
1,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2015,NaN,0.122,...,NaN,0.314,0.176,4837.0,0.185,254.0,74088,0.133,NaN,NaN
2,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2014,6827.0,0.125,...,15.37,0.218,0.096,6588.0,0.119,135.0,71094,0.319,6.29,0.160

In [20]:
df["State"][0:3]

0    AK
1    AK
2    AK
Name: State, dtype: object

The `.iloc` attribute lets us directly suppy integer indices for rows and columns simultaneously:

In [21]:
df.iloc[:4,:4]

  State Region Division                      County
0    AK   West  Pacific  Aleutians West Census Area
1    AK   West  Pacific  Aleutians West Census Area
2    AK   West  Pacific           Anchorage Borough
3    AK   West  Pacific           Anchorage Borough

We can also select using column names (or row names if applicable) instead of integers with `.loc`:

In [22]:
df.loc[:,["State","County","Food environment index"]].head()

  State                      County  Food environment index
0    AK  Aleutians West Census Area                   7.002
1    AK  Aleutians West Census Area                   6.600
2    AK           Anchorage Borough                   8.185
3    AK           Anchorage Borough                   8.000
4    AK          Bethel Census Area                   3.210

In this case, we can use integers directly for the row indices since there are no string row labels defined.

In [23]:
df.loc[15:20,["State","County","Food environment index"]]

   State                      County  Food environment index
15    AK     Kenai Peninsula Borough                   7.700
16    AK   Ketchikan Gateway Borough                   8.327
17    AK   Ketchikan Gateway Borough                   8.000
18    AK       Kodiak Island Borough                   7.957
19    AK       Kodiak Island Borough                   7.800
20    AK  Lake and Peninsula Borough                   3.207

Finally, we can nest square brackets to select based on conditions.  
* The inner statement, `df["State"]=="RI"` extracts a **column** on column name and checks if it equals "RI"
* The outer statement `df[ ... ]` uses the resulting column of True/Falue values to select **rows**

In [24]:
df[df["State"]=="RI"]

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
4505,RI,Northeast,New England,Bristol County,44001,44001,Region 12,1/1/2014,4543.0,0.087,...,12.35,0.113,0.027,8579.0,0.077,18.0,64572,0.139,NaN,0.197
4506,RI,Northeast,New England,Bristol County,44001,44001,Region 12,1/1/2015,3891.0,0.087,...,11.67,0.110,0.044,8355.0,0.077,16.0,68415,0.155,NaN,NaN
4507,RI,Northeast,New England,Kent County,44003,44003,Region 12,1/1/2014,6313.0,0.122,...,15.55,0.110,0.027,9890.0,0.105,61.0,59682,0.223,1.44,0.187
4508,RI,Northeast,New England,Kent County,44003,44003,Region 12,1/1/2015,6458.0,0.122,...,18.94,0.114,0.046,9621.0,0.105,68.0,63232,0.230,1.30,NaN
4509,RI,Northeast,New England,Newport County,44005,44005,Region 12,1/1/2014,4457.0,0.109,...,12.29,0.119,0.033,8897.0,0.090,30.0,63434,0.222,NaN,0.176
4510,RI,Northeast,New England,Newport County,44005,44005,Region 12,1/1/2015,4730.0,0.109,...,10.33,0.118,0.048,8149.0,0.090,33.0,67291,0.230,NaN,NaN
4511,RI,Northeast,New England,Providence County,44007,44007,Region 12,1/1/2014,6468.0,0.154,...,15.67,0.190,0.049,9480.0,0.125,88.0,47601,0.484,4.10,0.229
4512,RI,Northeast,New England,Providence County,44007,44007,Region 12,1/1/2015,6124.0,0.154,...,17.51,0.182,0.058,8983.0,0.125,93.0,47642,0.487,3.70,NaN
4513,RI,Northeast,New England,Washington County,44009,44009,Region 12,1/1/2014,4961.0,0.092,...,10.56,0.105,0.031,8776.0,0.088,39.0,69150,0.172,NaN,0.157
4514,RI,Northeast,New England,Washington County,44009,44009,Region 12,1/1/2015,4939.0,0.092,...,13.18,0.107,0.047,8212.0,0.088,49.0,69267,0.177,NaN,NaN

**Learn more:**
* `pandas` provides a quick introduction <a href="https://pandas.pydata.org/pandas-docs/stable/10min.html">here</a>
* <a href="https://jakevdp.github.io/PythonDataScienceHandbook/">Python Data Science Handbook</a> provides more detail and integration with other software.

### Matplotlib and Visualization

<a href="https://matplotlib.org/">`matplotlib`</a> is a commonly used data visualization package for Python, oriented towards static, scientific plotting.  There are a number of other packages for visualization including:

* `seaborn` provides aesthetic extensions to matplotlib and better compatibility with pandas
* `ggplot` - a Python version of the popular ggplot2 package for R
* `Bokeh` and `Plotly` help create interactive web visualizations

Here's an example `seaborn` plot with our County Health Data from above:

In [25]:
import seaborn as sns

states=df.groupby(["State","Region"]).mean().reset_index()  #aggregate data to state-level means using DataFrame methods
states=states[["Region","Poor or fair health","Poor physical health days","Poor mental health days","Median household income"]]

sns.pairplot(states,hue="Region")

C:\Users\mtjansen\AppData\Local\Continuum\anaconda3\lib\site-packages\scipy\stats\stats.py:1713: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return np.add.reduce(sorted[indexer] * weights, axis=axis) / sumval

## Other Areas

### BeautifulSoup (for parsing HTML or XML data)

Python's built-in `urllib.request` package makes it relatively easy to download the underlying html from a web page. Note that the `from package import function` notation used here allows you to selectively import only parts of a package as needed.

In [26]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
page = urlopen("https://unc-libraries-data.github.io/Python/Python1/Python-1.html")  #The Python 1 materials!
html = page.read()
print(html[:300]) #print only the first 300 characters

b'<!DOCTYPE html>\n<html>\n<head><meta charset="utf-8" />\n\n<title>Python-1</title>\n\n<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>\n<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>\n\n\n\n<style type="text/css">\n    /*!'

In [27]:
soup=BeautifulSoup(html,"html.parser")
[x.text for x in soup.find_all("h1")] # find all h1 (top-level headers)

['Python I',
 '0. Setup',
 '1. Entering code',
 '2. Variables',
 '3. Conditionals',
 '4. Loops']

**Note:** Always check a site's Terms of Service before scraping it.  Some sites explicitly prohibit web scraping of their data.

### NLTK (text analysis)

<a href="http://www.nltk.org/">The Natural Language Toolkit (`nltk`)</a> provides a wide array of tools for processing and analyzing text.  This includes operations like splitting text into sentences or words ("tokenization"), tagging them with their part of speech, classification, and more.

## Jupyter Notebooks

Sooner or later, you'll want to share your code or projects with other people (even if only future-you!).  <a href="http://jupyter.org/">Jupyter notebooks</a>, included with Anaconda, provide integration between code, its output, images, and formatted text beyond what's possible with in-code comments.  The materials for these workshops were created in Jupyter notebooks, then exported to html.

## GitHub

The materials for this workshop series are maintained in Git and hosted on GitHub.  The materials from our Git / GitHub workshop are available [here](https://github.com/UNC-Libraries-data/Intro-to-Git).

## Feedback

Please fill out our [**Feedback Survey**](http://unc.libsurveys.com/davishubfeedback).

We'd love your input on future workshop topics and ways we could improve this workshop next time we teach it!

## Resources / Learn more:

* <a href="https://jakevdp.github.io/PythonDataScienceHandbook/">Python Data Science Handbook</a>  This free ebook emphasizes Numpy, Scipy, Matplotlib, Pandas and other data analysis packages in Python, assuming some familiarity with the basic principles of the language.

* <a href="https://automatetheboringstuff.com/">Automate the Boring Stuff with Python</a>

* <a href="https://ehmatthes.github.io/pcc/cheatsheets/README.html">Python Cheatsheets</a>

* <a href="https://stackoverflow.com/questions/tagged/python-3.x?sort=frequent&pageSize=15">Stack Overflow</a>

* <a href="https://www.google.com/">Google!</a>

* <a href="http://guides.lib.unc.edu/mattjansen">Make an appointment with Matt</a>

* <a href="http://www.karsdorp.io/python-course/">Python Programming for the Humanities</a>